
<div class="jumbotron <%= @api_color %> ">
    <h1 class="display-4"><%= @final_output %></h1>
    <p class="lead"><%= @zip_query %> </p>
    <hr class="my-4">
    <p><%= @api_description %></p>
    <p><%= @api_color %></p>
    <p>hit reload in your browser to update the reading</p>
    <a href="#" role="button" class="btn btn-primary btn-lg">Learn More</a>
</div>
